<ion-view view-title="Find Game">

  <ion-nav-buttons side="right">
    <button class="button button-royal button-clear" ng-click="moveToDateToday()">Today</button>
  </ion-nav-buttons>

  <ion-content class="find-game-view" overflow-scroll="true" scrollbar-y="false" on-swipe-left="moveToNextDate(dateString)" on-swipe-right="moveToLastDate(dateString)">

    <div class="button-bar date-nav-find-game">
      <button class="button button-royal button-block icon ion-android-arrow-back" ng-show="showDateArrow(getLastDateString())" ng-click="moveToLastDate(dateString)"></button>
      <a class="date-display button button-block item-unselectable">
        <label class="date-title">
          {{date | date:'MMMM dd'}}
        </label>
      </a>
      <button class="button button-royal button-block icon ion-android-arrow-forward" ng-show="showDateArrow(getNextDateString())" ng-click="moveToNextDate(dateString)"></button>
    </div>

    <div class="game-display" ng-repeat="game in games">

      <div class="row game-banner">
        <div class="col col-60 time-container">
          <h3 class="time-title">{{game.time | secondsToTime}}</h3>
        </div>
        <div class="col col-10 sport-label">
            <i class="ion-ios-basketball sport-icon"></i>
        </div>
        <div class="col col-30 sport-container">
          <h4 class="sport-title">{{game.sport}}</h4>
        </div>
      </div>

      <div class="game-content">
        <list>
          <item class="item item-unselectable location-display">
            <label class="location-title"><b>Place: </b>{{game.place}}</label>
          </item>
          <item class="item item-unselectable skill-display">
            <label class="skill-title"><b>Skill Level: </b>{{game.skillLevel}}</label>
          </item>
          <item class="item item-unselectable creator-display">
            <label class="skill-title">
              <b>Creator: </b>
            </label>
              <a class="creator-name" ng-click="showProfileModal(game.creatorID)">{{game.creatorName}}</a>
          </item>
          <ion-item class="game-lower">
          </ion-item>
        </list>
      </div>

    </div>

    <!-- Display if no games are scheduled so screen isn't blank. -->
    <ion-item class="no-games item item-unselectable" ng-show="isGamesEmpty(games)">
      No Games Scheduled
    </ion-item>

  </ion-content>
</ion-view>
