<ion-view view-title="Secret League">

  <ion-content class="login-view" overflow-scroll="true">
    <div class="login-container">

      <div><img class="homescreen-logo"ng-src="img/homescreen.png" alt="Secret League"></div>
      <a ng-href="#/tab/schedule/{{dateStringToday}}" class="button button-royal button-block start-button" nav-transition="none">
        <i class="ion-ios-basketball ball"></i>
      </a>
      <label class="start-label">Click the ball to get started!</label>

    </div>

  </ion-content>
</ion-view>
