<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <h1 class="title">View Profile</h1>
  </ion-header-bar>

  <ion-content class="profile-view" overflow-scroll="true" scrollbar-y="false"on-swipe-down="closeProfile()">

    <div class="profile-top"> <!-- Top half of page -->
      <h2 class="profile-name">{{athleteProfile.name}}</h2>
    </div>

    <!-- Bottom half of page -->
    <div class="item item-divider profile-divider">
      <span class="info-label">Info</span>
    </div>
    <a class="item item-unselectable">
      <h2><b>Email: </b>{{athleteProfile.email}}</h2>
    </a>
    <a class="item item-unselectable">
      <h2><b>Year: </b>{{athleteProfile.gradYear}}</h2>
    </a>
    <a class="item item-unselectable">
      <h2><b>Bio:</b> {{athleteProfile.bio}}</h2>
    </a>
    <a class="item item-unselectable">
      <h2><b>Skill Level:</b> {{athleteProfile.skillLevel}}</h2>
    </a>
    <a class="item item-unselectable">
      <h2><b>Favorite Athlete:</b> {{athleteProfile.favAthlete}}</h2>
    </a>

  </ion-content>

  <div class="bar bar-footer close-footer" ng-click="closeProfile();">
    <h2 class="close-icon icon ion-close-round"></h2>
  </div>

</ion-modal-view>
