<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <h1 class="title">Register for Secret League</h1>
    <div class="buttons">
      <button class="button button-clear button-royal" ng-click="closeRegistrationModal()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <form ng-submit="register()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email: </span>
          <input type="text" ng-model="regData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password: </span>
          <input type="password" ng-model="regData.password1">
        </label>
        <label class="item item-input">
          <span class="input-label">Retype Password: </span>
          <input type="password" ng-model="regData.password2">
        </label>
        <label class="item item-input">
          <span class="input-label">Name: </span>
          <input type="text" ng-model="regData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Graduation Year: </span>
          <input type="tel" ng-model="regData.gradYear">
        </label>
        <label class="item item-input">
          <span class="input-label">Bio (140 characters or less): </span>
          <input type="text" ng-model="regData.bio">
        </label>
        <label class="item item-select">
          <span class="input-label">Skill Level: </span>
          <select ng-model="regData.skillLevel"><option>Casual</option><option>Competitive</option></select>
        </label>
        <label class="item item-input">
          <span class="input-label">Favorite Athlete: </span>
          <input type="text" ng-model="regData.favAthlete">
        </label>
        <label class="item">
          <button class="button button-block button-royal" type="submit">Register</button>
        </label>
      </div>
    </form>

  </ion-content>

</ion-modal-view>
