<ion-view view-title="Schedule">


  <ion-nav-buttons side="left">
    <button class="button button-royal button-clear" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-royal button-clear" ng-click="moveToDateToday()">Today</button>
  </ion-nav-buttons>

  <ion-content class="schedule-view" overflow-scroll="true" scrollbar-y="false" on-swipe-left="moveToNextDate(dateString)" on-swipe-right="moveToLastDate(dateString)">

    <div class="button-bar date-nav-schedule">
      <button class="button button-royal button-block icon ion-android-arrow-back" ng-show="showDateArrow(getLastDateString())" ng-click="moveToLastDate(dateString)"></button>
      <a class="date-display button button-block">
        <label class="date-title">
          {{date | date:'MMMM dd'}}
        </label>
      </a>
      <button class="button button-royal button-block icon ion-android-arrow-forward" ng-show="showDateArrow(getNextDateString())" ng-click="moveToNextDate(dateString)"></button>
    </div>

    <hr class="horiz-line">

    <div class="cal-container">

      <div class="time-bar">
        <div class="time-label-box" ng-repeat="time in displayedTimes">
          <div class="time-label-container">
            <label class="time-label">
              {{time | secondsToTime}}
            </label>
          </div>
        </div>
      </div>

      <div class="cal">
        <div class="event-label-box" ng-repeat="time in startingTimes" ng-class="{true: 'striped'}[isStripeOn(time)]">
          <div class="event-label-container" ng-show="doesEventExist(events[time]);" style="height: {{getEventHeight(getDurationHours(events[time]))}}%;">
            <label class="event-label" ng-class="{true: 'small'}[getDurationHours(events[time]) < 1]">
              {{events[time].eventName}}
              <span class="time-event-label" ng-class="{true: 'small'}[getDurationHours(events[time]) < 1]"> ({{events[time].startTime | secondsToTime}} to {{events[time].endTime | secondsToTime}}) </span>
            </label>
          </div>
        </div>
      </div>

    </div>

    <div class="place-bar">
      <div class="place-label-box" ng-repeat="(placeString, placeTitle) in places">
        <a class="place-label-button item" ng-click="changePlace(placeString)" nav-transition="none" ng-class="{true: 'active'}[placeString === currentPlaceString]">
          {{placeTitle}}
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
