<ion-view view-title="Schedule">
  <ion-nav-buttons side="right">
    <a ng-href="#/tab/schedule/{{getCurrentDateString()}}/{{currentPlaceString}}" nav-transition="none" class="button button-royal button-clear">Today</a>
  </ion-nav-buttons>


  <ion-content class="schedule-view" scroll="false">

    <div class="button-bar date-nav-schedule">
      <a ng-show="{{showLastDateArrow(getLastDateString())}}" ng-href="#/tab/schedule/{{getLastDateString()}}/{{currentPlaceString}}" nav-transition="none" class="button button-royal button-block icon ion-android-arrow-back"></a>
      <a class="date-display button button-block item-unselectable">
        <label class="date-title title-shadow">
          {{date | date:'MMMM dd'}}
        </label>
      </a>
      <a ng-show="{{showNextDateArrow(getNextDateString())}}" ng-href="#/tab/schedule/{{getNextDateString()}}/{{currentPlaceString}}" nav-transition="none" class="button button-royal button-block icon ion-android-arrow-forward"></a>
    </div>

    <!-- <div class="main-container"> -->
      <div class="cal-container">

        <div class="time-bar">
          <div class="time-label-box" ng-repeat="time in displayedTimes">
            <div class="time-label-container">
              <label class="time-label">
                {{time | secondsToTime}}
              </label>
            </div>
          </div>
        </div>

        <div class="cal">
          <div class="event-label-box" ng-repeat="time in startingTimes" ng-class="{true: 'striped'}[isStripeOn(time)]">
            <div class="event-label-container" ng-show="doesEventExist(events[time]);" style="height: {{getEventHeight(getDurationHours(events[time]))}}%;">
              <label class="event-label" ng-class="{true: 'small'}[getDurationHours(events[time]) < 1]">
                {{events[time].eventName}}
                <span class="time-event-label" ng-class="{true: 'small'}[getDurationHours(events[time]) < 1]"> ({{events[time].startTime | secondsToTime}} to {{events[time].endTime | secondsToTime}}) </span>
              </label>
            </div>
          </div>
        </div>

      </div>
      <div class="place-bar">
        <div class="place-label-box" ng-repeat="(placeString, placeTitle) in places">
          <a class="place-label-button item" ng-href="#/tab/schedule/{{dateString}}/{{placeString}}" nav-transition="none" ng-class="{true: 'active'}[placeString === currentPlaceString]">
            {{placeTitle}}
          </a>
        </div>
      </div>
    <!-- </div> -->
  </ion-content>
</ion-view>
