/* Empty. Add your own CSS if you like */

/* General CSS */

 .title-shadow {
  text-shadow: 2px 2px 2px #CCCCCC;
}

.item-unselectable.activated { /* The item-unselectable class is for items that are unselectable. */
  background: #fff; /* Set color when selected to be white. It already is white so it ends up having no effect. */
  border-color: #fff;
}


/* Login Styling */




/* Schedule Styling */
.schedule-view {
  background-color: #D3D3D3;
}


.date-nav-schedule {
  margin-top: -0.8%;
  margin-bottom: -0.8%;
}

.cal-container {
  float: left;
  background-color: #fff;
  color: #000;
  height: 100%;
  width: 80%;
}

.place-bar {
  background-color: #424242;
  height: 100%;
  width: 100%;
}

.time-bar {
  float: left;
  background-color: #886aea;
  height: 100%;
  width: 20%;
}

.cal {
  width: 100%;
  height: 100%;
}

.time-label-box {
  height: 4.935%;
  border: solid #424242 0.01px;

}

.time-label {
  font-size: 10px;
  font-weight: bold;
  margin-left: 10%;
}

.event-label-box {
  /*height: 4.935%;*/
  height: 0.41125%;
  /*border: solid #424242 0.01px;*/
}

.event-label-box.striped {
  /*background-color: #D3D3D3;*/
  /*background-color: #000000;*/
}

.event-label-container {
  background-color: #424242;
  color: #fff;
}

.event-label {
  font-size: 10px;
}

.time-event-label {
  font-size: 8px;
}

.place-label-box {
  height: 8.5%;
}

.place-label-button {
  font-size: 14px;
  white-space: normal;
  padding: 0;
  margin-top: .5%;
  height: 100%;
}

.place-label-button.active {
  background-color: #886aea;
}



/* Find Game Styling */
.find-game-view {
  background-color: #D3D3D3;
}

.date-display {
  background-color: #ffffff;
}

.date-nav-find-game {
  margin-top: -0.8%;
  margin-bottom: -2.8%;
}

.date-title {
  font-size: 13px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.no-games {
  margin-top: 2%;
}

.game-display {
  padding-top: 2%;
}

.game-banner {
  background-color: #424242;
  display: flex;
  align-items: center;
  border-color: #424242;
}

.sport-label {
  display: inline;
  justify-content: center;
}

.sport-icon, .time-title, .sport-title {
  color: #fff;
}

.sport-icon {
  font-size: 38px;
}

.game-content {
  border-left: solid 35px;
  border-right: solid 35px;
  border-color: #886aea;
}


.game-lower {
  background-color: #424242;
  border-color: #424242;
}
