/* Empty. Add your own CSS if you like */

/* General CSS */

.item-unselectable.activated { /* The item-unselectable class is for items that are unselectable. */
  background: #fff; /* Set color when selected to be white. It already is white so it ends up having no effect. */
  border-color: #D3D3D3;
}

.horiz-line {
  margin: 0;
  padding: 0;
}

/* Hide scrollbar when overflow-scroll="true" */
::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
}

.required-label:after {
  content: "*";
  color: #ff0000;
}


/* Date Navigation Styling (appears in schedule and find-game states). */
.date-display {
  background: #fff;
  border-color: #fff;
  overflow: hidden;
  white-space: nowrap;
}
.date-display.activated {
  background: #fff; /* Set color when selected to be white. It already is white so it ends up having no effect. */
  border-color: #fff;
}

.date-title {
  font-size: 13px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}




/* Login Styling */
.login-view {
  background-color: #424242;
  text-align: center;
}

.login-container {
  height: 100%;
}

.homescreen-logo {
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  height: auto;
}

.start-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 180px;
  border: 3px solid #424242;
  border-radius: 100%;
  vertical-align: middle;
}

.start-label {
  color: #fff;
  font-size: 28px;
}

.ball {
  font-size: 180px;
}

.register-item {
  margin-top: 4%;
  margin-bottom: 4%;
}

/* Schedule Styling */
.schedule-view {
  background-color: #D3D3D3;
}

.date-nav-schedule {
  margin-top: -0.8%;
  margin-bottom: -0.8%;
}

.cal-container {
  float: left;
  background-color: #fff;
  color: #000;
  height: 88%;
  width: 80%;
}

.time-bar {
  float: left;
  background-color: #886aea;
  height: 100%;
  width: 20%;
}

.time-label-box {
  height: 5.55555%; /* 100 / 18 (Percent / Number or hours displayed) */
  outline: 1px solid #fff; /* Use outline instead of border so box does not get bigger. */
  text-align: center;
}

.time-label {
  font-size: 9.5px;
  font-weight: bold;
  color: white;
  vertical-align: text-top;
  overflow: hidden;
  white-space: nowrap;
}

.cal {
  width: 100%;
  height: 100%;
}


.event-label-box { /* This refers to the background elements in the calendar with the height of each being 5 minutes */
  height: 0.464%;  /* The size of 5 minutes. Due to a rounding error, this needs to be slightly more than 5.55555/12 in order to line up with the time labels. */
  margin-left: 20%; /* This value should be the same as the width of the place-bar. */
}

.event-label-box.striped {
  background-color: #D3D3D3;
}

.event-label-container { /* This refers to the event elements whose height is specfied by the duration of time of the event. */
  background-color: #424242;
  color: #fff;
  position: relative; /* Set position to relative so we can use z-index to make sure the event element is on top of everything. */
  z-index: 100;
  outline: 1px solid white; /* Use outline instead of border so box does not get bigger. */
  margin: 0;
  padding: 0;
  margin-left: .5%;
  margin-right: .5%;
  overflow: hidden;
  white-space: nowrap;
}

.event-label {
  font-size: 11px;
  margin-left: 1.5%;
  vertical-align: text-top;
}

.event-label.small {
  font-size: 9px;
}

.time-event-label {
  font-size: 9px;
}
.time-event-label.small {
  font-size: 7px;
}

.place-bar {
  height: 88%;
  margin-left: 80%;
}

.place-label-box {
  height: 9.8%; /* Slightly less than 100 / 10 (percent / number of places) to have a slight gap at the bottom. */
}

.place-label-button {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  white-space: normal; /* Wrap text */
  padding: 0; /* Bring text to top left. */
  padding-top: 12%; /* Move text down a bit. */
  margin-top: 1%; /* Create some empty space between place-label-button's */
  height: 100%;
  border-radius: 10%;
  overflow: hidden;
  white-space: nowrap;
}

.place-label-button.active {
  background-color: #886aea;
  color: #fff;
}



/* Find Game Styling */
.find-game-view {
  background-color: #D3D3D3;
}

.date-nav-find-game {
  margin-top: -0.8%;
  margin-bottom: -2.8%;
}

.no-games {
  margin-top: 2%;
}

.game-display {
  padding-top: 2%;
}

.game-banner {
  background-color: #424242;
  display: flex;
  align-items: center;
  border-color: #424242;
}

.sport-label {
  display: inline;
  justify-content: center;
}

.sport-icon, .time-title, .sport-title {
  color: #fff;
}

.time-container, .sport-container, .location-display, .skill-display, .creator-display {
  overflow: hidden;
  white-space: nowrap;
}

.sport-icon {
  font-size: 38px;
}

.game-content {
  border-left: solid 35px;
  border-right: solid 35px;
  border-color: #886aea;
}


.game-lower {
  background-color: #424242;
  border-color: #424242;
}


/* Create Game Styling */
.date-item, .time-item {
  line-height: 200%;
}

.sport-item, .place-item, .skill-item {
  line-height: 60%;
}

.date-input, .time-input {
  text-align: end;
  padding-right: 14% !important;
}



/* Profile Styling */
.profile-view {
  background-color: #D3D3D3;
}

.profile-top {
  background: #424242;
  padding: 5%;
  /*height: 15%;*/
}

.profile-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
